.idea/*
app/.htaccess
app/Mage.php
app/code/core/*
app/code/community/*
app/code/local/*
app/design/adminhtml/default/default/layout/*
app/design/adminhtml/default/default/locale/*
app/design/adminhtml/default/default/template/*
app/design/adminhtml/default/default/etc/*
app/design/frontend/base/default/etc/*
app/design/frontend/base/default/layout/*
app/design/frontend/base/default/template/*
app/design/frontend/default/*
app/design/frontend/rwd/*
app/design/install/*
app/etc/modules/*
app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/locale/*
downloader/*
errors/*
media/*
.idea/*
includes/*
pkginfo/*
shell/*
skin/adminhtml/default/default/*
skin/adminhtml/base/default/*
skin/install/*
skin/frontend/mtbejewelry/default/css/_config/
var/*
.htaccess*
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php*
install.php
LICENSE*
mage
php.ini.sample
RELEASE_NOTES.txt

!app/code/community/MT
!app/code/local/MT
!app/design/adminhtml/default/default/template/mt
!app/design/adminhtml/default/default/layout/mt*
!app/design/frontend/base/default/layout/mt*
!app/design/frontend/base/default/template/mt*
!skin/adminhtml/default/default/mt
/var/
